body {
    background: #1e1e1e;
    color: white;
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.main-layout {
    background: #1e1e1e;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.content h1, h2, h3, h4, h5, h6 {
    color: white;
    padding-top: 1.1rem;
}

p {
    color: #c5c6c7;
}

/* Style Syncfusion Toolbar */
.e-toolbar.e-dark {
    background-color: black !important;
    border-bottom: 1px solid #333; /* Optional border */
}

.e-toolbar .nav-item {
    color: white !important;
}

.e-toolbar .nav-item:hover {
    color: #00bcd4 !important;
}

.e-toolbar .e-toolbar-item {
    color: white !important;
}

/*
.app-logo {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: 20px;
}

.nav-item {
    color: white;
    font-weight: 500;
    margin: 0px 10px;
    text-decoration: none;
    cursor: pointer;
}

.nav-item:hover {
    color: #00bcd4;
}

.nav-user-action {
    margin-left: auto;
}
*/