@inherits LayoutComponentBase
@using Syncfusion.Blazor.Navigations
@using Microsoft.AspNetCore.Components.Routing

<div class="page">
    <main>
        <SfToolbar CssClass="e-dark">
            <ToolbarItems>
                <ToolbarItem Template="@(builder => builder.AddMarkupContent(0, "<a href='/' class='nav-item'>Home</a>"))"></ToolbarItem>
                <ToolbarItem Template="@(builder => builder.AddMarkupContent(0, "<a href='/about' class='nav-item'>About</a>"))"></ToolbarItem>
                @* <ToolbarItem Template="@(builder => builder.AddMarkupContent(0, "<a href='/test' class='nav-item'>Test</a>"))"></ToolbarItem> *@
            </ToolbarItems>
        </SfToolbar>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>