@page "/OtpInput-features"
@rendermode InteractiveServer
<PageTitle>OtpInput</PageTitle>
@using Syncfusion.Blazor.Inputs
<h2>OtpInput</h2>
<br/>
<div>
  <h3>Selected Features:</h3>
    <ul class="ulstyle">
      <li class="list"> Type - Number</li>
      <li class="list"> Styling mode - Outlined</li>
      <li class="list"> Disabled</li>
      <li class="list"> Theme - Bootstrap v5</li>
    </ul>
</div>
<br/>
<div class="container">
    <SfOtpInput Placeholder="x" Length="4" Type="OtpInputType.Number" StylingMode="OtpInputStyle.Outlined" Disabled="true"></SfOtpInput>
</div>
<style>
    .container {
	
	height: 150px;
	width: 350px;
	margin: 15px auto;
	display: flex;
    }
</style>
