@page "/Timeline-features"
@rendermode InteractiveServer
<PageTitle>Timeline</PageTitle>
@using Syncfusion.Blazor.Layouts
<h2>Timeline</h2>
<div class="container">
    <SfTimeline Orientation="TimelineOrientation.Horizontal" Alignment="TimelineAlignment.Before" >
        <TimelineItems>
            <TimelineItem>
                <Content>Ordered</Content>
                <OppositeContent>Your order has been placed</OppositeContent>
            </TimelineItem>
            <TimelineItem>
                <Content>Shipped</Content>
                <OppositeContent>Your item has been shipped</OppositeContent>
            </TimelineItem>
            <TimelineItem>
                <Content>Out for Delivery</Content>
                <OppositeContent>Your item is out for delivery</OppositeContent>
            </TimelineItem>
            <TimelineItem>
                <Content>Delivered</Content>
                <OppositeContent>Your item has been delivered</OppositeContent>
            </TimelineItem>
        </TimelineItems>
    </SfTimeline>
</div>
<style>
    .container {
        height: 300px;
        
    }
</style>
